Q.1. A database is a structured collection of data organized and managed for efficient retrieval and storage. It allows users and applications to store, retrieve, and manipulate data easily.

SQL (Structured Query Language) databases are relational databases that use tables to store data and have a predefined schema. They ensure data integrity through ACID properties and are suitable for complex queries and structured data.

NoSQL (Not Only SQL) databases are non-relational databases that offer flexible schemas and horizontal scalability. They are best for handling unstructured or semi-structured data and can handle large volumes of data with high velocity.

Q.2
DDL (Data Definition Language) is a subset of SQL used to manage the structure of database objects. 

1. CREATE: Used to create new objects like tables.
   Example: CREATE TABLE employees (employee_id INT, first_name VARCHAR(50));

2. DROP: Used to delete existing objects like tables.
   Example: DROP TABLE employees;

3. ALTER: Used to modify the structure of existing objects.
   Example: ALTER TABLE employees ADD COLUMN department VARCHAR(100);

4. TRUNCATE: Used to delete all data from a table, but the table structure remains.
   Example: TRUNCATE TABLE employees;

In [ ]:
import sqlite3

def create_table():
    # Connect to the database (create one if not exists)
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Create the "employees" table
    cursor.execute('''
        CREATE TABLE employees (
            employee_id INTEGER PRIMARY KEY,
            first_name TEXT,
            last_name TEXT,
            department TEXT
        )
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def drop_table():
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Drop the "employees" table
    cursor.execute('''
        DROP TABLE IF EXISTS employees
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def alter_table():
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Add a new column "salary" to the "employees" table
    cursor.execute('''
        ALTER TABLE employees
        ADD COLUMN salary REAL
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def truncate_table():
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Delete all data from the "employees" table
    cursor.execute('''
        DELETE FROM employees
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

# Example usage
if __name__ == "__main__":
    # Create the table (only run this once)
    create_table()

    # Insert some data into the "employees" table (for demonstration purposes)
    conn = sqlite3.connect('my_database.db')
    cursor = conn.cursor()
    cursor.execute('INSERT INTO employees (employee_id, first_name, last_name, department) VALUES (1, "John", "Doe", "Marketing")')
    cursor.execute('INSERT INTO employees (employee_id, first_name, last_name, department) VALUES (2, "Jane", "Smith", "Finance")')
    conn.commit()
    conn.close()

    # Drop the table
    drop_table()

    # Recreate the table (after dropping, only run this once)
    create_table()

    # Alter the table to add a new column "salary"
    alter_table()

    # Truncate the table (delete all data)
    truncate_table()

Q.3

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML commands are responsible for performing various operations on the data within database tables, such as inserting, updating, deleting, and retrieving data.

In [1]:
import sqlite3

def create_table():
    # Connect to the database (create one if not exists)
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Create the "employees" table if it doesn't exist
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            employee_id INTEGER PRIMARY KEY,
            first_name TEXT,
            last_name TEXT,
            department TEXT
        )
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def insert_employee(employee_id, first_name, last_name, department):
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Insert the new employee into the "employees" table
    cursor.execute('''
        INSERT INTO employees (employee_id, first_name, last_name, department)
        VALUES (?, ?, ?, ?)
    ''', (employee_id, first_name, last_name, department))

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def update_employee_department(employee_id, new_department):
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Update the employee's department in the "employees" table
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE employee_id = ?
    ''', (new_department, employee_id))

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def delete_employee(employee_id):
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # Delete the employee from the "employees" table
    cursor.execute('''
        DELETE FROM employees
        WHERE employee_id = ?
    ''', (employee_id,))

    # Commit changes and close the connection
    conn.commit()
    conn.close()

# Example usage
if __name__ == "__main__":
    # Create the table (only run this once)
    create_table()

    # Insert a new employee
    insert_employee(1, 'John', 'Doe', 'Marketing')

    # Update the department of an existing employee
    update_employee_department(1, 'Sales')

    # Delete an employee
    delete_employee(1)

Q.4
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands focus on querying the database to fetch specific information from one or more database tables.

SELECT: Used to retrieve data from one or more tables in the database.

In [4]:
import sqlite3

def select_all_employees():
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # SELECT all columns for all employees
    cursor.execute('SELECT * FROM employees')
    # Fetch all the data from the result set
    all_employees = cursor.fetchall()

    # Close the connection
    conn.close()

    # Print the retrieved data
    for employee in all_employees:
        print(employee)

def select_specific_columns():
    # Connect to the database
    conn = sqlite3.connect('my_database.db')
    # Create a cursor to execute SQL commands
    cursor = conn.cursor()

    # SELECT specific columns for all employees
    cursor.execute('SELECT first_name, last_name, department FROM employees')
    # Fetch all the data from the result set
    specific_columns_data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Print the retrieved data
    for data in specific_columns_data:
        print(data)

# Example usage
if __name__ == "__main__":
    # Call the function to retrieve all employees' data
    select_all_employees()

    # Call the function to retrieve specific columns for all employees
    select_specific_columns()

Q.5


Primary Key: Unique identifier for each record in a database table, ensuring data integrity by preventing duplicates. Usually created on one or more columns with unique values for each row.

Foreign Key: Field(s) in a table referring to the Primary Key of another table, establishing relationships and enforcing referential integrity. It ensures consistency across related tables.

Q.6

To connect Python to MySQL, you'll need to use the mysql-connector-python library

In [7]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 49.8 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 55.6 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
import mysql.connector

# Function to connect to MySQL
def connect_to_mysql():
    try:
        # Replace the following placeholders with your MySQL server details
        conn = mysql.connector.connect(
            host='localhost',
            user='your_username',
            password='your_password',
            database='your_database'
        )
        print("Connected to MySQL successfully!")
        return conn
    except mysql.connector.Error as error:
        print(f"Error while connecting to MySQL: {error}")
        return None

# Function to execute a query
def execute_query(conn, query):
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        return cursor
    except mysql.connector.Error as error:
        print(f"Error while executing query: {error}")
        return None

# Example usage
if __name__ == "__main__":
    connection = connect_to_mysql()
    if connection is not None:
        # Sample query
        select_query = "SELECT * FROM employees"
        cursor = execute_query(connection, select_query)
        if cursor is not None:
            # Fetch and print the query results
            result = cursor.fetchall()
            for row in result:
                print(row)
            cursor.close()

        # Don't forget to close the connection when done
        connection.close()

Error while connecting to MySQL: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

Explanation of cursor() and execute() methods:

cursor() method:
The cursor() method is called on a MySQL connection object to create a cursor object.
A cursor is used to execute SQL queries and fetch query results.
It acts as a pointer or iterator that enables interaction with the database.
Multiple cursors can be created from the same connection, allowing concurrent query execution.
execute() method:


The execute() method is used on a cursor object to execute SQL queries.
It takes the SQL query as a parameter and sends it to the database for execution.
After the execution, the query results (if any) can be fetched using methods like fetchone() or fetchall().

Q.7




FROM: Specifies the tables from which the data will be retrieved.

JOIN: Joins additional tables based on specified conditions.

WHERE: Filters the rows based on specified conditions.

GROUP BY: Groups the data based on specified columns.

HAVING: Filters the grouped data based on specified conditions.

SELECT: Specifies the columns to be included in the query result.

DISTINCT: Removes duplicates from the query result (optional).

ORDER BY: Sorts the result based on specified columns (optional).

LIMIT/OFFSET: Limits the number of rows returned and specifies the starting row (optional, database-dependent).